body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .meu-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45vw; /* Ajuste conforme o espaço da moldura */
    height: 76vh; /* Ajuste conforme a moldura */
    transform: translate(-50%, -49%);
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  